<style>
.container {
    width: 800px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}
.value {
    padding: 10px;
    margin: 2px;
    background: darkorchid;
    color: #FFF;
    border-radius: 6px;
    width: 15px;
    text-align: center;
    text-decoration: none;
}
.level {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 350px;
}
.answers {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

</style>


<div class="container">
    <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

    <h3>{{title}}</h3>
    <br/>
    <strong>{{description}}</strong>

<div class="level">
    <span>Pouco Provável</span>
    <span>Muito Provável</span>
</div>
<div class="answers">
    <a class="value" href="{{link}}/answers/1?id={{id}}&email={{name}}">1</a>
    <a class="value" href="{{link}}/answers/2?id={{id}}&email={{name}}">2</a>
    <a class="value" href="{{link}}/answers/3?id={{id}}&email={{name}}">3</a>
    <a class="value" href="{{link}}/answers/4?id={{id}}&email={{name}}">4</a>
    <a class="value" href="{{link}}/answers/5?id={{id}}&email={{name}}">5</a>
    <a class="value" href="{{link}}/answers/6?id={{id}}&email={{name}}">6</a>
    <a class="value" href="{{link}}/answers/7?id={{id}}&email={{name}}">7</a>
    <a class="value" href="{{link}}/answers/8?id={{id}}&email={{name}}">8</a>
    <a class="value" href="{{link}}/answers/9?id={{id}}&email={{name}}">9</a>
    <a class="value" href="{{link}}/answers/10?id={{id}}&email={{name}}">10</a>

</div>

    <br/>
    <br/>
    <strong>Sua opinião é muito importante para nós</strong>
    <h3>By <strong>Brohood NetWork</strong></h3>
</div>